main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    padding: 20px;
}

.container-imagem {
    display: flex;
    justify-content: center;
}

.imagem {
    width: 80%;
    padding: 20px;
}

.descricao_produto {
    margin: 30px 0px;
}
